@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins";
  scroll-behavior: smooth;
  /* transition: all 0.3s; */
}
@layer base {
  body {
    @apply text-black transition-colors duration-1000 bg-white dark:bg-black dark:text-white;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #a2a5af, #1d2029);
}
html {
  scroll-padding-top: 100px;
}
.vibrateEffect {
  animation: vibrate 2s linear infinite alternate;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  1% {
    transform: translate(2px, 2px);
  }
  2% {
    transform: translate(-2px, -2px);
  }
  5% {
    transform: translate(3px, -3px);
  }
  6% {
    transform: translate(-3px, 3px);
  }
  7% {
    transform: translate(0);
  }
}
